.presentation {
  text-align: center;
  //background-image: url('../../../assets/resources/ow.jpg');
  .image {
    padding-top: 200px;
    img {
      position: relative;
      height: 50%;
      width: 50%;
    }
  }
  .image::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
    background-image: url('../../../assets/resources/ow2.jpg');
    filter: blur(5px);
  }
}
