.toolbar {
  background: none;
  .title {
    h1 {
      font-size: 2em;
      text-shadow: 2px 2px 4px #6441a5;
    }
  }
  .user-info {
    position: absolute;
    margin: 10px;
    right: 10px;
    top: 10px;

    .user {
      float: right;
      font-size: 1.2em;
      text-shadow: 2px 2px 4px #6441a5;
    }

    .logo {
      float: left;
      width: 75px;
      height: 75px;
      margin-right: 10px;
    }
  }
}
