<div class="members-list">
  <mat-grid-list [cols]="nbCol" rowHeight="200px">
    <mat-grid-tile *ngFor="let member of members" colspan="1" rowspan="1">
      <mat-card class="member-card">
        
        <mat-card-header>
          <mat-card-title>{{ member.name }}</mat-card-title>
        </mat-card-header>
        
        <mat-card-content class="member-card-content">
            <img class="member-logo" [src]="member.logo" alt="" />
            <div class="social-network">
              <a [href]="member.twitch"> 
                <mat-icon svgIcon="twitch" class="twitch-icon"></mat-icon> 
              </a>
              <a *ngIf="member.youtube" [href]="member.youtube">
                <mat-icon svgIcon="youtube" class="youtube-icon"></mat-icon>
              </a>
              <a *ngIf="member.twitter" [href]="member.twitter">
                <mat-icon svgIcon="twitter" class="twitter-icon"></mat-icon>
              </a>
            </div>       
        </mat-card-content>

        <mat-card-footer>
          <div class="member-online">
            <span>{{(member.online)?'En ligne': 'Hors ligne'}}</span>
            <mat-icon svgIcon="circle-slice" [ngClass]="(member.online)?'online':'offline'"></mat-icon>
          </div>
        </mat-card-footer>
      
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
