.members-list {
  margin-top: 10px;
  padding-top: 100px;
}

.member-card-content {
  display: flex;
  flex-direction: row;
  .member-logo {
    margin-right: 10px;
    height: 50%;
    width: 50%;
  }
  .social-network {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    a {
      flex-grow: 1;
      text-align: center;
      mat-icon {
        flex-grow: 1;
        height: 48px;
        width: 48px;
      }
    }
  }
}

mat-card-header {
  justify-content: center;
  mat-card-title {
    font-size: 1.8em;
  }
}

mat-card-footer {
  .online {
    color: green;
  }
  .offline {
    color: red;
  }
  .member-online {
    display: flex;
    flex-direction: row-reverse;
    mat-icon {
      align-self: flex-end;
      margin-right: 5px;
      margin-bottom: 3px;
    }

    span {
      align-self: flex-end;
      margin: 5px;
      margin-right: 10px;
    }
  }
}
